[submodule "config/awesome/awesome-wm-widgets"]
	path = config/awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets
[submodule "zsh/fast-syntax-highlighting"]
	path = zsh/fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting.git
